/* Footer */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-rotate {
  animation: spin 6s linear infinite;
  transform-origin: center center; /* optional but good practice */
}
